.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  

*{
    padding: 0;
    margin: 0;
}

/* header style */

header{
    background-image: url(../assets/Hero-bg.png);
    height: 580px;
    
    
}
.group{
    margin-top: 25px;
}


.first-box{
    
    text-align: center;
} 

h3{
    font-size: 24px;
}
.second-box{
    margin-top: 20px;
    text-align: center;
}

p{
    font-size: 15px;
    margin-top: 20px;
    line-height: 20px;
     color: rgb(61, 61, 63);
}

.btn-1{
    cursor: pointer;
    margin-top: 50px;
    height:60px ;
    width: 200px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background: rgb(13, 19, 33);
}
/* main style */

.contant{
    position: relative;
    height: 1200px;
    padding: 60px 70px;
    margin: 50px 100px ;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
 
.titles-1{
    text-align: center;
    padding: 60px 70px;
}
.para-1{
    
}

.t-1{
    font-size: 20px;
    font-weight: 800;
}
 .img-1{
    display: flex;
    margin-top: 50px;
 }

 .para-1{
    float: left;
    padding: 60px 70px;
    
 }

 h5{
    color: rgba(13, 19, 33, 0.7);
    font-size: 20px;
 }

p{
    color: rgb(97, 101, 108);
    margin-top: 32px;
}

.btn-2{
    cursor: pointer;
    font-size: 20px;
    color: rgb(103, 104, 109);;
    height: 50px;
    width: 150px;
    margin-top:32px;
    border: 1px solid rgb(143, 146, 154);
}

.para-2{
    float: right;
    padding: 60px  70px;
    margin-right: 100px;
}

.img-2{
    margin-left: 35px;
    margin-top: 25px;
}

.btn-3 {
    cursor: pointer;
    font-size: 20px;
    color: rgb(103, 104, 109);;
    height: 50px;
    width: 150px;
    margin-top:32px;
    border: 1px solid rgb(143, 146, 154);
}

.para-3{
    float: left;
    padding: 60px  70px;
    
}

.btn-4 {
    cursor: pointer;
    font-size: 20px;
    color: rgb(103, 104, 109);;
    height: 50px;
    width: 150px;
    margin-top:32px;
    border: 1px solid rgb(143, 146, 154);
}

.img-3{
    margin-top: 20px;
    margin-right: 0px;
}

/* footer style */

.footer-1{
    text-align: center;
}

.vid{
    border-radius: 10px;
    margin-top: 40px;
    border: 1px solid black;
}

.target{
    text-align: center;
    margin-top: 50px;
}


/* languages style */

.language{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 15px;
}

.code-1{
    padding: 20px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.code-2{
    padding: 20px; 
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.code-3{
    padding: 20px;
    border-radius: 16px;
    background-color: rgba(255, 223, 0, 0.05)
}

.article{
    cursor: pointer;
    margin-top: 40px;
    border-radius: 16px;
    color: rgb(23, 19, 33);
}

.footer-3{
    text-align: center;
    padding: 50px;
    height: 280px;
    width: 770px;
     margin-top: 40px;
    border-radius: 15px;
    background-size: cover;
    background-image: url(../assets/handshake.jpg);śśśś
}

.support{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-4{
    margin-top: 40px;
    height: 25px;
    width: 220px;
    padding: 5px;
    cursor: text;
    border-radius: 5px;
    border: none;
} 

.footer-5{
    cursor: pointer;
    margin-top: 50px;
    height: 38px;
    width: 70px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    
} 










